<div class="courses-container">
	<div class="course">
		<div class="course-preview">
			<img style="width: 130px; height: 100px; margin-top: 20px;" src="assets/analyzeIcon-removebg-preview.png">
		</div>
		<div class="course-info">
			
			<h6 style="color: rgb(78, 36, 194);">Python</h6>
			<h2>Data Analyze Http Server</h2>
            <h3>Activate Python Data Analyze Http Server,<h4 style="margin-top: 6px;font-size: 17px;">Analyze Your Kafka Data</h4>  </h3>
			<button class="btn">Select Properties</button>
		</div>
	</div>
</div>

