<h1 style="margin-left: 20%; margin-top: 2%;">Mongodb</h1>
<h1 style="margin-left: 70%; margin-top: -4%;">Splunk</h1>

<div class="container">
    
    <a class="card1"  href="#">
      <h3 style="font-size: 20px;margin-top: -3px;">Mongodb Compass Platfrom</h3>
    <br>
      <p style="font-size: 17px;" class="small">Click The Button To Open Mongodb </p>
      <p style="font-size: 17px;" class="small">Compass Application And Mongodb  </p>
      <p style="font-size: 17px;text-align: center;" class="small">Server Listener!  </p>
      <p style="font-size: 17px;text-align: center;" class="small">Check Your Data In Gui Application!</p>
    <img width="280px" height="150px" style="margin-left: 10%;" src="assets/mongodblogo-removebg-preview.png">
      
      <div class="go-corner" href="#">
        <div class="go-arrow">
          →
        </div>
      </div>
      
      <div style="width: 160px; height: 50px; background-color: rgb(19, 46, 33); color: white;" class="buttons">
    
        <a href="https://twitter.com/masuwa1018" class="btn effect04" data-sm-link-text="CLICK" target="_blank"><span>Activate Mongo</span></a>
  </div>
    </a>
    
  
    
    <a  class="card3" style="background: rgba(11, 8, 36, 0.849);" id="first" href="#">
      <h3 style="font-size: 20px;margin-top: -5px; color: white;">Splunk Enterprise</h3>
      <br>
      <p style="font-size: 17px;" class="small">Click The Button To Browse Splunk </p>
      <p style="font-size: 17px;" class="small">Enterprise Http Event Collector Page  </p>
      <p style="font-size: 17px;text-align: center;" class="small">With Chrome Browser!  </p>
      <p style="font-size: 17px;text-align: center;" class="small">Check Your Data On Splunk Gui Platform!</p>
      <img width="300px" height="150px" style="margin-left: 10%;opacity: 1;margin-top: -2%;" src="assets/splunkfinal-removebg-preview.png">

      <div class="dimmer"></div>
      <div style="background: #ffffff;" class="go-corner" href="#">
        <div style="color: black;" class="go-arrow">
          →
        </div>
      </div>
     
      <div style="width: 160px; height: 50px; background-color: rgb(243, 238, 229); color: black; margin-top: 5px;" class="buttons">
    
        <a style="color: black;" href="https://twitter.com/masuwa1018" class="btn effect04" data-sm-link-text="CLICK" target="_blank"><span>Activate Splunk</span></a>
  </div>
  
      
    </a>
    
  
  </div>